[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
transformers = ">=4.45.1"
valkey = "*"
tenacity = "*"
pydantic = "*"
prometheus-client = "*"
structlog = "*"
accelerate = "*"
tqdm = "*"
bitsandbytes = "*"
sentencepiece = "*"
protobuf = "*"
numpy = "==2.2.2"

[dev-packages]

[requires]
python_version = "3.10"
